@use "../variables";
* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  font-family: variables.$font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: variables.$staf-bg;
  color: variables.$staf-corporate;
}

.staf-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.staf-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  max-width: 200px;
  height: auto;

  @media (min-width: variables.$mqMinWidth) {
    max-width: none;
  }
}
.head h1 {
  width: 80px;
}
.head p {
  text-transform: uppercase;
  width: 80px;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fdfbf9;
}

nav ul{
  display: flex;
  gap: 10px;
  height: 50px;
}
li {
  list-style: none;
}
.sobre_contenidor {
  display: flex;
  height: 100vh; /* Full viewport height */
  width: 100%;   /* Responsive width */
  max-width: 900px; /* Max size */
}
.sobre_contenidor .div1 {
  background-color: #e6dace;
}
.sobre_contenidor .div2 {
  background-color: #fcfbf9;
}
.sobre_contenidor .div1, .div2 {
  height: 100vh;
  width: 450px;
}
.informacions {
  position: fixed; 
  top: 70px;
  left: 70px;
}
.informacions > div {
  display: flex;
  gap: 10px;
  background-color: #fcfbf9;
}
.datos {
  background-color: #e6dace;
  text-align: center;
}
.datos img {
  width: 250px;
  border-radius: 50%;
}
.Redes img {
  width: 30px;
}
.masInformacion {
  width: 450px;
}
.infos {
  background-color: white;
  margin: 30px;
}
.infos h3 {
  background-color: #0050ff;
  width: 250px;
}
.masInformacion button {
  background-color: white;
  padding: 5px 10px;
  border-radius: 14px;
  color: black;
}
.masInformacion button:first-of-type {
  background-color: #0050ff;
  color: white;
}
.masInformacion button:hover {
  background-color: #0050ff;
  color: white;
}
.fa {
padding: 20px;
font-size: 30px;
width: 50px;
text-align: center;
text-decoration: none;
}
.fa-facebook {
background: #3B5998;
color: white;
}
.staf-title {
  font-family: variables.$font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: variables.$staf-corporate;

  @media (min-width: variables.$mqMinWidth) {
    font-size: 36px;
  }
}

.staf-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}
